# Node modules
node_modules/

# Build output
dist/

# TypeScript cache
*.tsbuildinfo

# Env variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/
*.sw?

# Optional: coverage reports
coverage/

# Optional: test cache (np. Vitest / Jest)
*.log
.cache/
